.navigation{
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    color: white;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    z-index: 12;
    &_menu{
        background: white;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 2;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        a{ width: 50%; }
        img{
            width: 90%;
            height: 80%;
        }
        &--hide{
            transform: translateY(-100%);
        }
        &--show{
            transform: translateY(0);
        }
    }
    &_link{
        border: none;
        font-family: roboto;
        background: none;
        letter-spacing: 2px;
        color: white;
        z-index: 3;
        transition-duration: .2s;
        &--black a{ color: black; }
    }
    &_logo{
        width: 125px;
        height: 32px;
        position: relative;
        z-index: 4;
    }
    &--scrolled{
        background: white;
        a{ color: black; }
    }
    
}

@media screen and (min-width: 450px){
    .navigation{
        flex-direction: row;
        justify-content: space-between;
        &_menu{
            height: 200px;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            img{
                width: auto;
            }
            a{
                width: 15%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}