.product-caracs{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__card{
        display: flex;
        flex-direction: column;
    }
    &__img{ width: 100%; }
    &__title{ text-align: center; }
    &__description{ 
        font-size: 14px ;
    }
}

@media screen and (min-width: 500px){
    .product-caracs{
        flex-direction: row;
        justify-content: space-between;
        &__card{ width: 300px; }
    }
}