.social-container{
    position: relative;
    height: 100%;
    width: 100vw;
    z-index: 2;
    background: white;
    h2{
        text-transform: uppercase;
        font-size: 2rem;
    }
    .arrow{
      position: absolute;
      cursor: pointer;
      z-index: 4;
      top: 50%;
      i{
      font-size: 5rem;
      font-weight: bold;
      color: black;
      }
    }
    .arrow-left{
      left: 0;
    }
    .arrow-right{
      right: 0;
    }
}
#feed{
    display: flex;
    width: 1200vw;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;

}
@media screen and (min-width: 500px){
  #feed{
    width: 400vw;
  }
}