.social{
    position: relative;
    min-height: 100vh;
    width: 100vw; 
    z-index: 2;
    background: white;
    h2{
        text-transform: uppercase;
        font-size: 2rem;
    }
    &__arrow{
      position: absolute;
      cursor: pointer;
      z-index: 4;
      top: 50%;
      i{
        font-size: 5rem;
        font-weight: bold;
        color: black;
      }
      &-left{ left: 0; }
      &-right{ right: 0; }
    }
    &__feed{
      display: flex;
      width: 1200vw;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
  }
}
@media screen and (min-width: 500px){
  .social__feed{
    width: 600vw;
  }
}
@media screen and (min-width: 1060px){
  .social__feed{
    width: 400vw;
  }
}