html{
    width: 100vw;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-size: 8px;
    background: #333;
    width: 100vw;
    overflow-x: hidden;
}
@media screen and (min-width: 320px){
    body{
        font-size: 10px;
    }
}
@media screen and (min-width: 576px){
    body{
        font-size: 12px;
    }
}
section{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: odachi;
    src: url('../Odachi.otf');
}

p{
    font-family: roboto;
    font-size: 1rem;
}


.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.fixed{
    position: fixed;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    font-family: arial;
}

$margin-padding: ("m": margin, "p": padding);
$position: ("t": top, "b": bottom, "l": left, "r": right);

@each $abbr, $name in $margin-padding{
    @each $posAbbr, $posName in $position{
        @for $i from 1 through 10{
            .#{$abbr}#{$posAbbr}-#{10 * $i}{
                #{$name}-#{$posName}: $i * 10px;
            }
        }
    }
}

@for $i from 1 through 6{
    h#{$i}{
        margin: 0;
        font-family: arial;
    }
}


@for $i from 1 through 5{
    .m-#{$i * 10}{
        margin: $i * 1%
    }
}

@for $i from 1 through 10{
    .opa-#{$i}{
        opacity: $i / 10;
    }
}